<ion-header [style.visibility]="content_visibility"> 
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content [style.visibility]="content_visibility">
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeMd="3" *ngFor="let photo of photos">
        <ion-img [src]="photo"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="block" (click)="addNewPhoto()">Botón 3</ion-button>
  <ion-button expand="block" (click)="startScan()">Escanear</ion-button>
  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap">Resultado del escaneo: {{ scannedResult }} </ion-label>
  </ion-item>
</ion-content>