<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home" routerDirection="root">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
          <ion-item routerLink="/display-qr" routerDirection="root">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            <ion-label>Mostrar QR</ion-label>
          </ion-item>
          <ion-item routerLink="/scan-qr" routerDirection="root">
            <ion-icon slot="start" name="scan-outline"></ion-icon>
            <ion-label>Escanear QR</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
